<footer style="background:orangered; color:silver;" class="bg-dark text-white">
    
          </div>
          <div class="border-top pt-4" style="border-color: red !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0"></p>
              </div>
              <!-- <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Website by <a class="text-white reset-anchor" href="https://ambrose280.github.io" target="_blank">Ifiok Ambrose</a></p>
              </div> -->
            </div>
          </div>
        </div>
      </footer>