<footer style="background:orangered; color:silver;" class="bg-dark text-white">
    
            <div class="col-md-4" style="background:silver; color:orangered;">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Twitter</a></li>
                <li><a class="footer-link" href="#">Instagram</a></li>
                <li><a class="footer-link" href="#">Tumblr</a></li>
                <li><a class="footer-link" href="#">Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: red !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy; 2023 All rights reserved.</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Website by <a class="text-white reset-anchor" href="https://ambrose280.github.io" target="_blank">Ifiok Ambrose</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>