{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <section class="py-5">
        <div class="container">
          <div class="row mb-5">
            <div class="col-lg-6">
              <!-- PRODUCT SLIDER-->
              <div class="row m-sm-0">
                
                <div class="col-sm-12 order-1 order-sm-2">
                  <div class="owl-carousel product-slider" data-slider-id="1">
                    {% if product.product_image %}
                      <a class="d-block" href="{{product.product_image.url}}" data-lightbox="product" title="{{product.title}}"><img class="img-fluid" src="{{product.product_image.url}}" alt="{{product.title}}"></a>
                      {% else %}
                      <a class="d-block" href="{{product.product_image.url}}" data-lightbox="product" title="{{product.title}}"><img class="img-fluid" src="{{product.product_image.url}}" alt="{{product.title}}"></a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <!-- PRODUCT DETAILS-->
            <div class="col-lg-6">
            
              <h1>{{product.title}}</h1>
              <p class="text-muted lead">{{product.price}} Naira</p>
              <p class="text-small mb-4">{{product.short_description}}</p>

              <div class="row align-items-stretch mb-4">
                
                <div class="col-sm-5 pr-sm-0">
                  
                </div>

                <div class="col-sm-3 pl-sm-0">
                  <div id="paypal-button-container"></div>
<!-- Your existing code... -->

<script>
paypal.Buttons({
    // Configuration options for creating the order and handling the payment
    createOrder: function(data, actions) {
        return actions.order.create({
            purchase_units: [{
                amount: {
                    value: '{{ product.price }}', // Replace with your product price
                    currency_code: 'USD'
                }
            }]
        });
    },
    // Callback when the payment is approved
    onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
            // Handle the successful payment

            // Redirect the user to the /register/ page or handle the response accordingly
            window.location.href = '/register/';
        });
    },
    // Callback when an error occurs during the payment process
    onError: function(err) {
        console.error('Error during PayPal payment:', err);
        // Handle errors
    }
}).render('#paypal-button-container');

</script>

<!-- Other scripts or additional content -->

                  <form action="{% url 'store:register' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="prod_id" value="{{ product.id }}" id="product_id">
              
                      {% if item_already_in_cart %}
                          <p>Ticket Already Bought</p>
                      {% else %}
                          <button style="background-color: darkred; color: white;" type="submit" class="btn btn-dark btn-lg btn-block h-100 d-flex align-items-center justify-content-center px-0">
                              Buy Ticket
                          </button>
                      {% endif %}
                  </form>
              </div>
              

              </div><a class="btn btn-link text-dark p-0 mb-4" href="#"><i class="far fa-heart mr-2"></i></a><br>
              <ul class="list-unstyled small d-inline-block">
                
                <li class="px-3 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-dark">Category:</strong><a class="reset-anchor ml-2" href="{% url 'store:category-products' product.category.slug %}">{{product.category}}</a></li>
                
              </ul>
            </div>
          </div>
          <!-- DETAILS TABS-->
          <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a></li>
            
          </ul>
          <div class="tab-content mb-5" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
              <div class="p-4 p-lg-5 bg-white">
                <h6 class="text-uppercase">Class Description </h6>
                <p class="text-muted text-small mb-0">{{product.detail_description}}</p>
              </div>
            </div>
            
          </div>


          <!-- RELATED PRODUCTS-->
          <h2 class="h5 text-uppercase mb-4">Related Classes</h2>
          <div class="row">

            {% if related_products %}
              {% for rp in related_products %}
              
                <!-- PRODUCT-->
                <div class="col-lg-3 col-sm-6">
                  <div class="product text-center skel-loader">
                    <div class="d-block mb-3 position-relative">
                      <a class="d-block" href="{% url 'store:product-detail' rp.slug %}">
                        {% if rp.product_image %}
                          <img class="img-fluid w-100" src="{{rp.product_image.url}}" alt="{{rp.title}}">
                        {% else %}
                        <img class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="{{rp.title}}">
                        {% endif %}
                      </a>

                      <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                          <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                          <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="#">Buy Ticket</a></li>
                        </ul>
                      </div>
                    </div>
                    <h6> <a class="reset-anchor" href="{% url 'store:product-detail' rp.slug %}">{{rp.title}}</a></h6>
                    <p class="small text-muted">${{rp.price}}</p>
                  </div>
                </div>

              {% endfor %}
            {% endif %}

           

          </div>
        </div>
      </section>
      {% endblock content %}